body {
  font-family: 'Roboto Flex', sans-serif;
  text-align: center;
  background-color: rgb(9, 184, 228);
  color: rgb(0, 0, 0);
}
img{
  max-width: 100%;
}
h1{
  text-align: center;
}

header{
  text-align: left;
  padding-left: 6%;
  display: inline-block;
}
#description{
  margin-top: -19px;
  position:absolute;
  text-align: left;
  padding-left: 9px;
}
#foto{
  border:1px silid green;
  max-width: 20%;
  border-radius: 8%;
  
}
img{
  box-shadow:1px 1px;
  border-radius: 3%;
}

header #foto,#description{
  display: inline-block;
}
p.info{
  text-align: left;
  padding: auto;
  margin-top: 50px;
  margin-left: 39px;
}

div.habilidades {
  margin: auto;
  text-align: left;
  margin: auto;
  display: inline-block;
}
nav{
  margin: auto;
  text-align: left;
  margin: auto;
  display: inline-block;
}
ul{
  list-style-position: inside;
  list-style-type: square;
}
nav{
  display: inline-block;
}

